$white: #ffffff;
$black: #121212;
$primary: #0b1047;
$primary-hover: #1a287e;
$primary-disabled: #bec6f4;
$primary-muted: #9da0b4;
$secondary: #10c8d2;
$secondary-active: #07afb9;
$secondary-disabled: #cff4f6;
$error: #da2b2b;

/* breakpoints */
$lg: 1439.5px;
$md: 1023.5px;
$sm: 599.5px;
$xs: 359.5px;
