.advantages {
  &__list {
    padding-block: 48px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
  }

  &__icon {
    width: 32px;
    height: auto;
    aspect-ratio: 1;
    margin-bottom: 16px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
  }
}

@media (max-width: $lg) {
  .advantages {
    &__list {
      padding-block: 40px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: $md) {
  .advantages {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__item {
      display: flex;
      gap: 20px;
    }

    &__icon {
      margin-bottom: 0;
      height: min-content;
    }
  }
}

@media (max-width: $sm) {
  .advantages {
    padding-block: 32px;
  }
}
